body{
    position: relative;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 266px;

    padding: 20px;

    background-color: var(--dark-navy);
    text-transform: uppercase;
}

/*! Header*/
.overlay-header h4{
    margin: 0px;
    color: var(--silver);
}


/*! Body*/
.overlay-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    color: var(--light-yellow);
}

.overlay-body svg{
    margin-right: 20px;
}


/*! Footer*/
.overlay-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.overlay-footer .button-yellow{
    min-height: 48px!important;
    box-shadow: 0 4px rgb(207, 156, 2)!important;
    margin: 0px!important;
    border-radius: 10px;

}

.overlay-footer .button-yellow h4, .overlay-footer .button-restart h4{
    margin: 0px!important;
}

.overlay-footer .button-restart {
    margin-right: 20px;


}

.overlay-footer .button-restart, .overlay-footer .button-yellow{
    padding-left: 20px;
    padding-right: 20px;
}